@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #f3f4f6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 16rem; /* 64px */
  background-color: #1f2937; /* bg-gray-800 */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  overflow-y: auto;
}

.nav-mobile.open {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .nav-mobile {
    position: relative;
    transform: none;
    max-width: none;
    width: auto;
    height: auto;
  }
}

@media (max-width: 534px) {
  .table-mobile {
    min-width: 28rem;
  }
}

@media (max-width: 425px) {
  .face-reg-btn {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .face-reg-text {
    font-size:smaller;
  }
}

@media (max-width: 375px) {
  .face-reg-text {
    font-size:x-small;
  }
}